.bgimage {
  height:100vh;
  background: url('https://img.freepik.com/free-photo/blue-toned-collection-paper-sheets-with-copy-space_23-2148320445.jpg?size=626&ext=jpg&ga=GA1.1.1700460183.1709078400&semt=ais');
  background-size:cover;
  background-repeat: no-repeat;
  position:relative;
}
/* text css above hero image*/
.hero_title {
  font-size: 4.5rem;
}
.hero_desc {
  font-size: 2rem;
}
.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(228, 177, 74);
}

/* about section image css */
.imageAboutPage {
  width: 20;
}

/* services section css */
.servicesText.card {
  height: 280px;
  cursor: pointer;
}
.servicesIcon {
  font-size: 36px;
  text-align: center;
  width: 100%;
}
.card-title {
  text-align: center;
}
.card:hover .servicesIcon {
  color: #008000;
}
.servicesText:hover {
  border: 3px solid #008000;
  box-shadow: #008000;
}

/* display background color black on navbar scroll */
.navbarScroll.navbarDark {
  background-color: black;
}

/* social media icons styling */
.social-icons {
  font-size: 36px;
  cursor: pointer;
}
.fa-facebook:hover,.fa-instagram:hover,.fa-twitter:hover,.fa-linkedin:hover, .fa-twitch:hover {
  color: #008000;
}
.fab {
  color: #000000;
}
/* footer styling */
#footer {
  background-color: #808080;
  text-align: center;
}
/* spacing on all sections */
#about, #services, #portfolio, #contact {
  margin-top: 4rem;
  padding-top: 4rem;
}
#contact {
  padding-bottom: 4rem;
}




